In [47]:
print(3+6)

9

In [48]:
print(3+6)

9

In [49]:
print(6*7)

42

In [50]:
print("파이썬을 사용하고 있습니다")

파이썬을 사용하고 있습니다

In [51]:
print("hi~ python")

hi~ python

In [52]:
print(f"우리 대학교는 {21} 세기를 선도하는 대학입니다.")

우리 대학교는 21 세기를 선도하는 대학입니다.

In [53]:
print("오늘의 기온은 영상 %d 입니다."%25)

오늘의 기온은 영상 25 입니다.

In [54]:
print("오늘의 기온은 영상 %f 입니다."%25)

오늘의 기온은 영상 25.000000 입니다.

In [55]:
print("오늘의 기온은 영상 %4.1f 입니다."%25)

오늘의 기온은 영상 25.0 입니다.

In [56]:
print("오늘의 기온은 영상 %5.2f 입니다."%25)

오늘의 기온은 영상 25.00 입니다.

## **2교시**

In [57]:
print(100+200)
print(20-15)

300
5

In [58]:
print(140/3)

46.666666666666664

In [59]:
140/3

46.666666666666664

In [60]:
print("오늘의 기온은 %d입니다."%31)

오늘의 기온은 31입니다.

In [61]:
10>2

True

In [62]:
10<2

False

In [63]:
10==2

False

In [64]:
10==10

True

In [65]:
x = 100
y = 200
result = x + y

In [66]:
type(result)

int

In [67]:
a = 10.5
b = 27.35
total = a + b
total

37.85

In [68]:
type(total)

float

In [69]:
s1 = 'hoseo'
s2 = 'university'
print(s1, s2)

hoseo university

In [70]:
long_text = """이것은 
여러 줄로 된 문자열 
입니다. """

In [71]:
long_text

'이것은 \n여러 줄로 된 문자열 \n입니다. '

In [72]:
print(long_text)

이것은
여러 줄로 된 문자열
입니다.

In [73]:
type(long_text)

str

In [74]:
check = 0
check is None

False

In [75]:
10 > 2

True

In [76]:
x = 10
y = 20
result = x < y

In [77]:
x > y

False

In [78]:
type(result)

bool